*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1em;
}
.ageCalculator{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    justify-content: center;
    /* font-weight: bold; */
    gap:1em;
    padding: 2em;
    background-color: rgb(116, 116, 176);
    height: 40vh;
    width:50%;
}
button{
    background-color: darkred;
    padding: 1em;
    cursor: pointer;
    color: #fff;
    margin-top: 2em;
}
form input{
 width:25%;   
 height:3em;
 font-weight: bold;
 padding: 15px;
}
input:focus{
   border:5px solid orange;
   background-color: #ffff;
}

h3{
    align-self: flex-start;
    margin-bottom: 1em;
}